/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/generate-glossary  export-ignore
/phpunit.xml        export-ignore
/tests/             export-ignore